/* color variables */
@white: #ffffff;
@black: #000000;

/* main colors */
@magnetta: #e83a93;


/* social colors */
@facebook: #3b5998;
@twitter: #1DA1F2;
@dribble: #ea4c89;
@googleplus: #dd4b39;
@skype: #00aff0;
@vimeo: #162221;
