
meta(charset=charset)
meta(name="viewport", content=viewport)
title #{title}
// fonts
link(rel="stylesheet" href=fonts.fontawesome)
link(rel="stylesheet" href=fonts.homizio)
// styles
link(rel="stylesheet" href=stylesheets.main)
// scripts
script(src="js/jquery-3.1.1.min.js")
script(defer src="js/main.js")
