div.intro.clearfix
    include navbar.pug
    a.arrow_link(href="#")
        img.arrow__img(src="img/arrow.svg")
    div.menu-button#menu_button
        div.menu__holder
            span.menu-button__bar
            span.menu-button__bar
            span.menu-button__bar