///* preloader */
//
//#preloader {
//    width: 100vw;
//    height: 100vh;
//    position: fixed;
//    z-index: 10000;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    background-color: @white;
//    #svg8 {
//        transform: scale(2) translateY(-25%);
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        width: 500px;
//        height: 500px;
//        #path43 {
//            fill: #52c3c0;
//            opacity: 0;
//            animation: fill 0.5s 0.375s linear infinite alternate;
//        }
//        #path41 {
//            fill: #46a3cc;
//            opacity: 0;
//            animation: fill 0.5s 0s linear infinite alternate;
//        }
//        #path25 {
//            fill: #30235f;
//            opacity: 0;
//            animation: fill 0.5s 0.51s linear infinite alternate;
//        }
//        #path23 {
//            fill: #13102d;
//            opacity: 0;
//            animation: fill 0.5s 0.64s linear infinite alternate;
//        }
//    }
//}
//
//@keyframes fill {
//    from {
//        opacity: 0;
//    }
//    to {
//        opacity: 1;
//    }
//}
//
//
///* buttons and links */
//
//.btn {
//    transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: scale(1.15);
//        box-shadow: 3px 3px 7px black;
//    }
//    &:active {
//        transition: all 0.1s linear;
//        box-shadow: none;
//    }
//}
//
//a,
//.story-controls__button {
//    transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: scale(1.15);
//    }
//    &:active {
//        transition: all 0.1s linear;
//        text-shadow: none;
//    }
//}
//
//[class="navbar__item"] a,
//.story-controls__button,
//[class="footer__info-link"] {
//    &:hover {
//        text-shadow: 3px 3px 7px gray;
//    }
//    &:active {
//        text-shadow: none;
//    }
//}
//
//
///* expertise icons */
//
//.expertise-list__icon {
//    transition: all 1.5s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 1.5s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: rotate(360deg) scale(1.2);
//    }
//}
//
//#heart {
//    transition: none;
//    transform: none;
//    &:hover {
//        transition: none;
//        transform: none;
//        animation: heart 2s 0s 1 ease-in;
//    }
//}
//
//@keyframes heart {
//    20%,
//    40%,
//    60%,
//    80% {
//        transform: scale(1.2);
//    }
//    10%,
//    23%,
//    43%,
//    63%,
//    83% {
//        transform: scale(0.9);
//    }
//    100% {
//        transform: scale(1);
//    }
//}
//
//#brush {
//    transition: none;
//    transform: none;
//    &:hover {
//        transition: none;
//        transform: none;
//        animation: brush 1.2s 0s 1 ease-in alternate;
//    }
//}
//
//@keyframes brush {
//    20% {
//        transform: rotate(30deg);
//    }
//    40% {
//        transform: rotate(-10deg);
//    }
//    50% {
//        transform: rotate(30deg);
//    }
//    65% {
//        transform: rotate(-10deg);
//    }
//    77% {
//        transform: rotate(30deg);
//    }
//    89% {
//        transform: rotate(-10deg);
//    }
//}
//
//#mobile {
//    transition: none;
//    transform: none;
//    &:hover {
//        transition: none;
//        transform: none;
//        animation: buzz 1.2s 0s 1 linear;
//    }
//}
//
//@keyframes buzz {
//    1%,
//    5%,
//    9%,
//    14%,
//    21%,
//    27%,
//    34%,
//    40% {
//        transform: translateX(1px);
//    }
//    3%,
//    7%,
//    11%,
//    18%,
//    24%,
//    31%,
//    37%,
//    44% {
//        transform: translateX(-1px);
//    }
//    50% {
//        transform: translateX(0px);
//    }
//    51% {
//        transform: translateX(-1px);
//    }
//    52% {
//        transform: none;
//    }
//}
//
//#game_pad {
//    transition: all 0.8s cubic-bezier(.27, -0.83, .26, 1.97);
//    transform: none;
//    &:hover {
//        transition: all 0.8s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: none;
//        animation: game 1.2s 0s 1 linear forwards;
//    }
//}
//
//@keyframes game {
//    20% {
//        transform: skewX(3deg) scale(1.02);
//    }
//    40% {
//        transform: skewX(-3deg) scale(1.04);
//    }
//    60% {
//        transform: skewX(3deg) scale(1.06);
//    }
//    80% {
//        transform: skewX(-3deg) scale(1.08);
//    }
//    100% {
//        transform: skewX(0deg) scale(1.1);
//    }
//}
//
//#monitor {
//    transition: all 0.8s cubic-bezier(.27, -0.83, .26, 1.97);
//    transform: none;
//    &:hover {
//        transition: all 0.8s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: none;
//        animation: monitor 1.2s 0s 1 linear normal both;
//    }
//}
//
//@keyframes monitor {
//    20% {
//        transform: scale(1.05) rotateY(45deg);
//    }
//    40% {
//        transform: scale(1.1) rotateY(-45deg);
//    }
//    90% {
//        transform: scale(1.2) rotateY(360deg);
//    }
//    100% {
//        transform: scale(1.3);
//    }
//}
//
//
///* team images */
//
//.team__img {
//    transition: all 0.3s ease-in;
//    cursor: pointer;
//    &:hover {
//        transition: all 0.3s ease-out;
//        transform: scale(1.06) perspective(540px) rotateX(10deg) translateY(-3px);
//        box-shadow: 3px 3px 7px black;
//        animation: skew5 1.4s 0.35s infinite alternate linear;
//    }
//    &:active {
//        transition: all 0.1s linear;
//        box-shadow: none;
//    }
//}
//
//@keyframes skew5 {
//    from {
//        transform: scale(1.06) perspective(540px) rotateX(10deg) skewY(0deg) translateY(-3px);
//    }
//    50% {
//        transform: scale(1.06) perspective(540px) rotateX(10deg) skewY(-1deg) translateY(-3px);
//    }
//    to {
//        transform: scale(1.06) perspective(540px) rotateX(10deg) skewY(1deg) translateY(-3px);
//    }
//}
//
//
///* portfolio */
//
//.portfolio__item {
//    transition: all 0.15s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: scale(1.05);
//        box-shadow: 3px 3px 7px black;
//    }
//    &:active {
//        transition: all 0.1s linear;
//        box-shadow: none;
//    }
//}
//
//
///* carousels */
//
//.carousel-lister {
//    transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: scale(1.15);
//        text-shadow: 1px 1px 3px black;
//    }
//    &:active {
//        transition: all 0.2s ease-in;
//        transform: scale(1.03);
//        text-shadow: none;
//    }
//}
//
//.carousel-control__item {
//    cursor: pointer;
//    &:hover {
//        animation: blink 0.15s 0.05s linear 3;
//    }
//    &.active {
//        &:hover {
//            animation: none !important;
//        }
//    }
//}
//
//@keyframes blink {
//    from {
//        background-color: transparent;
//    }
//    to {
//        background-color: @blue-lighter;
//    }
//}
//
//
///* footer */
//
//
///* subscribe form */
//
//.footer-social-form__sumbit {
//    transition: all 0.3s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 0.3s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: scale(1.05);
//        box-shadow: 3px 3px 7px black;
//    }
//    &:active {
//        transition: all 0.2s linear;
//        box-shadow: none;
//    }
//}
//
//
///* social icons */
//
//.footer-column-social-icons__item {
//    transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//    &:hover {
//        transition: all 0.5s cubic-bezier(.27, -0.83, .26, 1.97);
//        transform: scale(1.15) rotateX(350deg);
//        text-shadow: 0px 0px 5px gray;
//        box-shadow: 0px 0px 5px gray;
//        color: @blue-lighter !important;
//        border: 1px solid @blue-lighter !important;
//    }
//    &:active {
//        transition: all 0.4s ease-in;
//        transform: scale(1.05) translateY(3px;
//        );
//        text-shadow: 0px 0px 2px gray;
//        box-shadow: 0px 0px 2px gray;
//    }
//}
