a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.clearfix {
    //    clear: both;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-h-padding() {
    padding-left: 330px;
    padding-right: 330px;
}

.section-with-bg() {
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

/* invisibility */
.invisible {
    visibility: hidden;
}
/* positions */

.to-left {
    float: left;
}

.to-right {
    float: right;
}

.to-center {
    margin: 0 auto;
}


/* margins */


/* m.bottom */

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}
