.intro {
    .section-with-bg;
    height: 857px;
    background: @white url('/img/intro_bg.jpg') top left/100% no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav {
    display: block;
    width: 100%;
    height: calc(100% - 68px);
}

.navbar {
    display: block;
    margin: 0 auto;
    //    position: relative;
}

.menu {
    position: absolute;
    bottom: 67px;
    right: 0px;
}

.navbar-link {
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    //    flex-direction: column;
    border: 2px solid @white;
    width: 188px;
    height: 188px;
    float: left;
    transform: rotate(45deg) translateX(75px);
    .navbar-link__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transform: rotate(-45deg);
    }
}


/* arrow link */

.arrow_link {
    width: 48px;
    height: 63px;
    display: flex;
    align-self: flex-end;
    padding-bottom: 5px;
    margin: 0 auto;
    transition: 0.15s transform linear;
    &:hover {
        transform: scale(1.1);
    }
    .arrow__img {
        width: 48px;
        height: 63px;
        animation: arrow_blink 0.8s linear alternate infinite;
        &:hover {
            animation: none;
        }
    }
}

@keyframes arrow_blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.menu-button {
    background-color: @magnetta;
    position: absolute;
    right: 5%;
    bottom: -46px;
    width: 92px;
    height: 92px;
    z-index: 1000;
    transform-origin: center;
    transform: rotate(45deg);
    box-sizing: border-box;
    cursor: pointer;
}

.menu__holder {
    transform: rotate(-45deg);
    //    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.menu-button__bar {
    width: 60%;
    box-sizing: border-box;
    border-top: 5px solid @white;
    margin-bottom: 5px;
}
