/* links */

.navbar__link {
    fill: @white;
    stroke: @white;
    outline: none;
    &:hover {
        fill: @magnetta;
        stroke: @magnetta;
        &.anchor {
            path {
                transition: all 0.1s ease-in-out;
                transform-origin: 50% 50%;
                transform: scale(1.3);
                transform-box: fill-box;
            }
            rect {
                transition: all 0.1s ease-out;
                fill: @white !important;
            }
        }
    }
}

.navbar_home__link {
    &:hover {
        tspan[class=style1],
        tspan[class=style4] {
            fill: @magnetta !important;
            transition: all 0.1s ease-in-out;
            transform-origin: 50% 50%;
            transform: scale(1.3);
            transform-box: fill-box;
        }
        tspan[class=style2],
        tspan[class=style3],
        tspan[class=style5] {
            fill: @white !important;
            transition: all 0.1s ease-in-out;
            transform-origin: 50% 50%;
            transform: scale(1.3);
            transform-box: fill-box;
        }
    }
}


/* general */

.rect_general() {
    fill: transparent;
    opacity: 1;
    fill-opacity: 0.95899054;
    stroke: @white !important;
    fill-rule: nonzero;
    stroke-width: 5;
    stroke-miterlimit: 4;
    stroke-dasharray: none;
    stroke-opacity: 1
}

.path_general() {
    fill: @white;
}

.text_general() {
    //    fill: #ffffff;
    font-family: 'HomizioNova';
}

.tspan_general() {
    fill: @white;
}


/* navlinks */


/* Our work */

#g4433 {
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* What we do */

#g4439 {
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* Our team */

#g4445 {
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* About us */

#g4451 {
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* stay tune */

#g4457 {
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* social links */


/* facebook */

#g4486 {
    .facebook {
        &:hover {
            fill: @facebook;
            stroke: @facebook;
            rect {
                transition: all 0.2s ease-in;
                fill: @white !important;
            }
        }
    }
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* twitter */

#g4482 {
    .twitter {
        &:hover {
            fill: @twitter;
            stroke: @twitter;
            rect {
                transition: all 0.2s ease-in;
                fill: @white !important;
            }
        }
    }
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* dribbble */

#g4478 {
    .dribble {
        &:hover {
            fill: @dribble;
            stroke: @dribble;
            rect {
                transition: all 0.2s ease-in;
                fill: @white !important;
            }
        }
    }
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* google plus */

#g4474 {
    .googleplus {
        &:hover {
            fill: @googleplus;
            stroke: @googleplus;
            rect {
                transition: all 0.2s ease-in;
                fill: @white !important;
            }
        }
    }
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}


/* skype */

#g4467 {
    .skype {
        &:hover {
            fill: @skype;
            stroke: @skype;
            text {
                fill: @white;
                stroke: @white;
            }
            rect {
                transition: all 0.2s ease-in;
                fill: @white !important;
            }
        }
    }
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        fill: @black;
        tspan {}
    }
}


/* vimeo */

#g4463 {
    .vimeo {
        &:hover {
            fill: @vimeo;
            stroke: @vimeo;
            rect {
                transition: all 0.2s ease-in;
                fill: @white !important;
            }
        }
    }
    rect {
        .rect_general;
    }
    path {}
    text {
        .text_general;
        tspan {}
    }
}